.join-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:50px;
    width: 90%;
    margin: 0 auto;
    padding: 5% 0;


    &__heading{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 50px;

        &__img{
            width: 40%;
        }

        &__text{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap:10px;
            margin-top: 15%;


            &--title{
                font-size: 24px;
            }

            &--sub{
                font-size: 12px;
            }
        }

        
    }

    form{
        display: flex;
        flex-direction: column;
        gap: 20px;

        div{
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 400px;
        }
    }

    button{
        background-color: var(--color-bg);
        display: flex;
        justify-content: center;
        align-items: center;
        gap:10px;
        box-sizing: border-box;
        width: 80px;
        height: 35px;
        border: 1px solid #FF6333;
        border-radius: 41px;
        font-family: var(--font-family);
        font-size: 12px;
        line-height: 12px;
        color: #FF6333;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }

    button:hover{
        background-color: #2e2d2e;
    }

    & button:disabled{
        color: #524f4e;
    }


}